:root,
body,
html {
  margin: 0;
  height: 100%;
}
body {
  background-image: url(../bgm.jpg);
  background-size: cover;
  background-position: center;

}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
  text-decoration: double;
  padding: 10px;
  margin-top: -16px;
  background: -webkit-linear-gradient(left, black , darkturquoise, palevioletred , black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title{
  background: -webkit-linear-gradient(left, black , darkturquoise, palevioletred , black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.totalb{
  color: palevioletred;
  margin-top: -20px;
}
.Prix{
  background: -webkit-linear-gradient(left, black ,black, darkturquoise, palevioletred ,black, black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15px;
}
.Create{
  background: -webkit-linear-gradient(left, black , darkturquoise, palevioletred , black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  border: 1px solid darkcyan;
  width: 100%;
}